<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="FinalProject.Properties.Settings.ARACKİRALAMADBConnectionString" connectionString="Data Source=DESKTOP-847PRS4\SQLEXPRESS;Initial Catalog=ARACKİRALAMADB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ARACKİRALAMADBEntities" connectionString="metadata=res://*/EntityRentACar.csdl|res://*/EntityRentACar.ssdl|res://*/EntityRentACar.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-847PRS4\SQLEXPRESS;initial catalog=ARACKİRALAMADB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ARACKİRALAMADBEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-847PRS4\SQLEXPRESS;initial catalog=ARACKİRALAMADB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ARACKİRALAMADBEntities2" connectionString="metadata=res://*/Personel.csdl|res://*/Personel.ssdl|res://*/Personel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-847PRS4\SQLEXPRESS;initial catalog=ARACKİRALAMADB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ARACKİRALAMADBEntities3" connectionString="metadata=res://*/Personel1.csdl|res://*/Personel1.ssdl|res://*/Personel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-847PRS4\SQLEXPRESS;initial catalog=ARACKİRALAMADB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>